body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ec3750;
    color: #ffffff;
    padding: 2px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

header img {
    margin-right: 10px; /* Add some spacing between the image and the text */
}

h1 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;

}

.grow { 
    transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
    transform: scale(1.1); 
  }

.shrink { 
    transition: all .2s ease-in-out; 
  }
  
.shrink:hover { 
    transform: scale(0.9); 
  }

  .main-content {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center; /* Center align the content */
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
  }

  .main-content a {
    text-decoration: none;
    color: #121217;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 9px;
    background-color: #ec3750;
  }